

<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><%= @todo.task_name %></h1>
        <p class="col-md-8 fs-4"> <%= @todo.task_desc %></p>
        <p class="col-md-8 fs-4">Create at: <%= @todo.task_created_at %></p>
        <p class="col-md-8 fs-4">Last Modified: <%= @todo.task_editted_at %></p>
        <p class="col-md-8 fs-4">Needs to be done by: <%= @todo.task_done_by %></p>
        <%= link_to 'Edit', edit_todo_path(@todo), class: "btn btn-secondary" %> 
<%= link_to 'Delete', @todo, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>

        <%= link_to 'Back', todos_path, class: "btn btn-dark" %>
      </div>
    </div>








